.reveal .slides {
  border: 5px solid black;
  min-height: 100%;
}

.reveal code {
  max-height: 100% !important;
}

.slides section fragment {
  transition: all 1.5s ease;
}

.container {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.container div {
  width: 100%;
}

.container div code {
  width: 100%;
}

.pose > h4 {
  margin-bottom: 0;
}

.pose > img {
  width: 80%;
}

.nolinenum .hljs-ln-numbers {
  display: none;
}

.good {
  background-color: #abd9e9;
}

.fair {
    background-color: #ffffbf;
}

.poor {
  background-color: #fdae61;
}
